@model ZohoTest.Models.Ticket


    @{
        ViewBag.Title = "TicketCreator";
    }


<html>
<head>

</head>

<body>
    <div>
        @using (Html.BeginForm())
        {
            //Subject
            <label>Subject:</label>
            <input type="text" name="Subject" placeholder="Subject"/>

            //Due Date
            <label>Due Date:</label>
            <input type="text" name="DueDate" placeholder="Due Date" />

            //Phone
            <label>Phone:</label>
            <input type="text" name="Phone" placeholder="Phone" />

            //E-Mail
            <label>E-Mail:</label>
            <input type="text" name="email" placeholder="E-Mail" />



            <input type="button" id="PostTicket" value="Post" onclick="location.href='@Url.Action("PostTicket", "Ticket")'" />
        }
    </div>
</body>

</html>





   



   


