@model APITest.Models.Ticket

@{
    ViewBag.Title = "TicketCreator";
}

<h2>Create Tickets in Zoho Desk, using this Button</h2>

<input type="button" id="PostTicket" value="POST A TICKET!" onclick="location.href='@Url.Action("PostTicket", "Home")'" />


